<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Flask File Upload</title>
</head>
<body>
    <h1>Upload File:</h1>
    <p>(Only txt, pdf, png, jpg, jpeg, or gif files accepted)
    <form action="/upload" method="post" enctype="multipart/form-data">
        <input type="file" name="file">
        <input type="submit" value="Upload">
    </form>
</form>
</body>
</html>